.login {
  height: 700px;
  margin: 3vw;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
}
.login .left {
  background-image: url("../../assets/markus-spiske-ZSZ6wzNU12Q-unsplash.jpg");
  background-size: cover;
  width: 55%;
  border-radius: 20px 0px 0px 20px;
}
.login .background {
  background: linear-gradient(
    0deg,
    rgba(56, 102, 65, 0.76),
    rgba(56, 102, 65, 0.76)
  );
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}
.login .container {
  padding: 3vw 8vw 3vw 7vw;
}

.login .intro h1 {
  font-weight: 800;
  font-size: 4.5vw;
  line-height: 7.1vw;
  font-style: normal;
  margin-top: 111px;
  margin-bottom: 30px;
}

.login .btn {
  color: #18251a;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  padding: 14px 21px 14px 21px;
  background-color: #ffffff;
  border-radius: 8px;
  border: none;
}

.login .footer-nav {
  margin-top: 200px;
}

.login .footer-nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  text-transform: uppercase;
  list-style-type: none;
  font-size: 1.5vw;
  font-weight: bold;
  line-height: 24px;
}
.login .footer-nav ul li {
  margin-right: 3vw;
}
.login .footer-nav ul li:hover {
  font-size: 1.6vw;
}
.login .right {
  width: 40%;
  color: #18251a;
  margin-left: 40px;
  display: flex;
  align-items: center;
}
.login .right-container {
  width: 100%;
}

.login .get-started h3 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
}
.login .get-started p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.login .form {
  margin-top: 40px;
  width: 100%;
}

.login .form input {
  height: 40px;
  border: none;
  padding: 12px 4px 12px 6px;
  width: 100%;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.002em;
  text-align: left;
}
.login .form input:focus {
  border: 3px solid lightblue;
  border-radius: 4px;
}

.login .form div {
  border-bottom: 1.49px solid #e2e2e2;
  margin-bottom: 24px;
}

.login .input-group {
  width: 90%;
}
.login .check {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login .check input {
  margin-right: 15px;
}
.login .check p {
  margin-left: 15px;
  margin-right: 156px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.33px;
  text-align: left;
}
.login .check,
.check div,
.forgot-password,
.sign-in {
  border: none !important;
}
.login .forgot-password,
.sign-in {
  color: var(--primary-color);
}
.login .submit-btn {
  background: var(--primary-color);
  border-radius: 4px;
  height: 54px;
  width: 100%;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.login .google-btn {
  background: #e2eee7;
  border-radius: 4px;
  height: 54px;
  width: 100%;
  margin-top: 24px;
  padding: 13px;
  font-size: 18px;
  font-weight: 700;
  color: #0c1810;
  line-height: 27px;
  letter-spacing: 0.2px;
  font-weight: bold;
  text-transform: uppercase;
}
.login .google-btn img {
  float: left;
}
.login .form label {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.3px;
  text-align: left;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.login .fa-eye {
  font-size: x-large;
  position: absolute;
  top: 35px;
  right: 6px;
}
.login .fa-eye:hover {
  cursor: pointer;
}

.login .sign-in {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
}
.login .sign-in span {
  font-weight: bold;
}

.login .password {
  position: relative;
}
.login .forgot-password {
  width: fit-content;
  border-bottom: var(--primary-color) solid 1.49px !important;
}
@media screen and (max-width: 680px) {
  .login .left {
    width: 100%;
  }
  .login .right {
    margin-top: 40px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
  }
  .login .intro h1 {
    font-size: 12vw;
    line-height: 16.1vw;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .login .btn {
    margin-top: 10px;
  }
  .login .nav {
    display: block;
    text-align: center;
    margin: auto;
  }
  .login .footer-nav {
    margin-top: 100px;
  }
  .login .nav li {
    margin-top: 10px;
  }
  .login .check p {
    margin-left: 15px;
    margin-right: 15px;
  }

  .login .footer-nav ul {
    font-size: 4.2vw;
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 24px;
  }
}
